:root {
  --font-20: clamp(14px, 14px + 0.4vw, 20px);
  --font-22: clamp(12px, 12px + 0.7vw, 22px);
  --font-24: clamp(17px, 17px + 0.4vw, 24px);
  --font-26: clamp(16px, 16px + 0.4vw, 26px);
  --font-28: clamp(17px, 17px + 0.4vw, 28px);
  --font-30: clamp(16px, 16px + 1vw, 30px);
  --font-40: clamp(20px, 20px + 1.5vw, 40px);
}
