header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  padding: 10px 20px;
}
header img {
  width: 60px;
}
nav {
  text-align: right;
}
a {
  display: inline-flex;
  align-items: center;
  color: var(--color-third);
  font-size: 20px;
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.2s linear;
}
#menu a::before {
  /* elemento criado em conjunto de "display: inline-flex" e "align-items: center" */
  content: ""; /* obrigatório com o pseudo elemento */
  background-color: var(--color-first);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
a:hover {
  color: var(--color-avatar-a);
  transform: scale(1.05);
}
.banner {
  display: flex;
  overflow: hidden;
  background-image: url(/assets/image/photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 807px;
}
.banner img {
  display: inline-block;
}
.banner-container {
  position: absolute;

  height: 184px;
  width: 627px;
  margin-top: 116px;
  margin-left: 91px;

  background-color: var(--color-black-second);
  box-shadow: 10px 10px 0 var(--color-black-first);
  padding-top: 50px;
  line-height: 65px;
}
.mr {
  margin-right: 112px;
}
.contato {
  position: absolute;
  margin-top: 422px;
  margin-left: 181px;
}
