.banner {
  background-image: url(/assets/image/photo.png);
  background-repeat: no-repeat;
  background-size: 100%;

  box-sizing: border-box;
  height: 800px;
  border-bottom: 10px solid black;
}
.banner .wrapper {
  display: flex; /* display para modificar o comportamento dos filhos */
  flex-direction: column; /* para por os filhos alinhados em coluna */
  width: 630px;
  padding-top: 115px;
  margin-left: 90px;
}
.banner .navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
