.card-project {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-project.-firedlabs {
  background-color: var(--color-fourth);
  box-shadow: 10px 10px 0 var(--color-third);
}

.card-project.-collabcode {
  background-color: var(--color-second);
  box-shadow: 10px 10px 0 var(--color-third);
}

.card-project.-portifolio {
  background-color: var(--color-avatar-a);
  box-shadow: 10px 10px 0 var(--color-third);
}

@media screen and (max-width: 1000px) {
  .card-project {
    height: 220px;
    width: 220px;
  }
  .logo {
    height: 190px;
  }
}
