.icon-menu {
  background-image: url(../../assets/image/icon-menu.png);
  background-repeat: no-repeat;
  background-size: auto 100%;

  text-indent: -9px;
  width: 60px;

  image-rendering: pixelated;
}
