.main-carousel {
  position: relative;
  padding: 0px 100px;
  margin-bottom: 50px;

  overflow: hidden;
}

.elements {
  display: flex;
  justify-content: center;
}

.main-carousel::after {
  content: "";
  display: block;
  height: 6px;
  width: calc(100% - 100px);
  background-color: var(--color-black-first);

  position: absolute;
  top: 42px;
  left: 50px;
}

.main-carousel::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 3px dashed #000;

  position: absolute;
  top: 44px;
  left: 0px;
}

/* para posicionar a seta de acordo com o pai */
.main-carousel .button-arrow {
  position: absolute;
  bottom: 25%;
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}

.main-carousel .items {
  overflow: hidden;
}

.main-carousel .elements {
  transition: transform 200ms linear;
}
