.main-section {
  background-color: var(--color-first);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid var(--color-second);
}

.main-section.-black {
  background-color: black;
  border-bottom: 10px solid var(--color-first);
}

.main-section.-purple {
  background-color: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  position: relative;
}
