.main-tittle,
.main-subtitle {
  font-size: var(--font-28);
  color: var(--color-o-fifth);

  font-family: "Press Start 2P", sans-serif;
  font-weight: 400px;
  text-shadow: 4px 4px 0px #000;
}

.main-subtitle {
  font-size: var(--font-26);
  color: var(--color-o-fifth);
}

.main-subtitle.-second {
  text-shadow: none;
  font-size: var(--font-26);
  text-align: left;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 0px;
}

.main-tittle.-second {
  color: var(--color-o-fifth);
  text-shadow: none;
  font-size: var(--font-40);
  margin-bottom: 60px;
  font-family: "Press Start 2P", sans-serif;
}

.main-tittle.-second.-dark {
  color: var(--color-b-first);
}
