body {
  background-color: var(--color-b-fifth);
}
.container {
  max-width: 1250px;
  margin: auto;
  background-color: var(--color-b-third);
}
.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-b-third);
  border-bottom: min(10px, 1.8vw) solid var(--color-black-first);
  padding: 10px 20px;
}

.main-header img {
  width: 60px;
}
