.main-footer {
  background-color: var(--color-black-first);
  text-align: center;
  padding-top: min(28px, 4vw);
  padding-bottom: min(28px, 4vw);
}

.main-footer .items {
  margin: min(20px, 4vw);
}
.main-footer .items .imgMedia {
  height: min(45px, 8vw);
  width: min(45px, 8vw);
  transition: 200ms;
}

.main-footer .items .imgMedia:hover {
  transform: scale(1.1);
}
