.main-box {
  display: inline-block;
  background-color: var(--color-b-third);
  box-shadow: 10px 10px 0 var(--color-black-first);
  padding: 43px 20px;
  text-align: center;
}

.main-box .main-tittle {
  margin-bottom: 38px;
}

@media (max-width: 800px) {
  .main-box {
    box-shadow: none;
    padding: min(43px, 5vw) min(20px, 5vw);
  }
  .main-box .main-tittle {
    margin-bottom: min(30px, 5vw);
  }
}
