.main-button {
  display: inline-block;
  background-color: var(--color-b-first);
  color: var(--color-o-fifth);
  font-size: 20px;
  text-decoration: none;

  font-family: "Fira Code", sans-serif;
  padding: 17px 20px;
  margin-left: 0px;
  box-shadow: 5px 5px 0 var(--color-black-first);
  transition: 200ms linear;
}

.main-button:hover {
  background-color: var(--color-o-third);
  color: var(--color-b-second);
  transform: scale(1.05);
}

.main-button.-full {
  border: none;
  /* margin-bottom: 50px; */
  cursor: pointer;
  box-shadow: 5px 5px 0 var(--color-o-fifth);
}

.main-button.-full:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 0 var(--color-b-fifth);
}
