.main-description {
  font-family: "Fira Code", sans-serif;
  font-weight: 300;
  font-size: var(--font-30);
  line-height: 1.3;
  color: var(--color-o-fifth);
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
