.main-box {
  display: inline-block;
  background-color: var(--color-b-third);
  box-shadow: 10px 10px 0 var(--color-black-first);
  padding: 43px 20px;

  text-align: center;
}

.main-box .main-tittle {
  margin-bottom: 38px;
}
