.main-banner {
  position: relative;
}
.main-banner .banner {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: min(10px, 1.8vw) solid var(--color-black-first);
}
.main-banner .wrapper {
  display: flex;
  flex-direction: column;
  width: clamp(230px, 230px + 17vw, 460px);
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: min(235px, 18vw);
  margin-left: min(50px, 2vw);
  transition: all 250ms linear;
}
.main-banner .navigation {
  display: flex;
  justify-content: space-around;
  margin-top: min(40px, 3vw);
  background-color: aqua;
}

@media (max-width: 800px) {
  .main-banner .wrapper {
    position: relative;
    margin: 0;
    width: 100%;
  }
  .main-banner .navigation {
    background-color: aqua;
    border-bottom: min(10px, 1.8vw) solid var(--color-black-first);
  }
}
