.main-tittle,
.main-subtitle {
  font-size: 27px;
  color: var(--color-first);

  font-family: "Press Start 2P", sans-serif;
  font-weight: 400px;
  text-shadow: 4px 4px 0px #000;
}

.main-subtitle {
  font-size: 25px;
  color: var(--color-third);
}

.main-subtitle.-second {
  text-shadow: none;
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 0px;
}

.main-tittle.-second {
  color: var(--color-third);
  text-shadow: none;
  font-size: 40px;
  margin-bottom: 60px;
  font-family: "Press Start 2P", sans-serif;
}

@media screen and (max-width: 610px) {
  .main-tittle.-second {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 815px) {
  .main-tittle.-second {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
