.main-contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: min(40px, 5vw);
  margin-right: min(40px, 5vw);
}

.main-contact .input {
  font-size: var(--font-22);
  border: min(5px, 0.7vw) solid black;
  padding: 10px;
  margin-bottom: min(30px, 4vw);
}

.main-contact .label {
  color: var(--color-o-fifth);
  font-size: var(--font-30);
  font-family: "Fira Code", sans-serif;
  margin-bottom: 5px;
}

.main-contact .input.-textarea {
  height: min(300px, 60vw);
}
