@media (max-width: 800px) {
  .main-header {
    padding: 0;
  }
  .main-header img {
    padding: 10px 20px;
  }

  #menu-mobile {
    display: flex;
    align-items: center;
  }
  #menu-mobile.active #menu {
    visibility: visible;
  }

  #menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: clamp(80px, 80px + 1.5vw, 90px);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--color-b-third);
  } /* posiciona o menu */

  #menu .main-action {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-black-first-b);
    margin-right: 0px;
  }
  #menu .main-action:hover {
    transform: none;
    background-color: var(--color-b-second);
  }

  #menu .main-button {
    box-shadow: none;
    width: 100%;
  }
  #menu .main-button:hover {
    transform: none;
  }
  #hamburger {
    margin-right: min(25px, 5vw);
    display: block;
    width: 30px;
    border-top: 3px solid black;
    cursor: pointer;
  }
  #hamburger:hover {
    transform: scale(1.06);
  }

  #hamburger::before,
  #hamburger::after {
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 30px;
    margin-top: 8px;
    transition: 0.2s;
  }

  #menu-mobile.active #hamburger {
    border-top: transparent;
  }
  #menu-mobile.active #hamburger::before {
    transform: rotate(135deg);
  }
  #menu-mobile.active #hamburger::after {
    transform: translateY(-10.5px) rotate(-135deg);
  }
}
