.skill-tec {
  color: var(--color-b-first);
  font-family: "Press Start 2P", sans-serif;
  font-size: var(--font-26);

  display: inline-flex;
  align-items: center;
}

.skill-tec .ico {
  font-size: var(--font-26);
  width: 90px;
  height: 90px;
  width: clamp(60px, 60px + 4vw, 90px);
  height: clamp(60px, 60px + 4vw, 90px);
}

.skill-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 15px;
}

.skill-tec h2 {
  margin-bottom: 10px;
}

.progress-bar {
  box-sizing: border-box;
  background-color: var(--color-o-fifth);
  border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--color-o-fifth);
}
