.skill-tec {
  color: var(--color-b-first);
  font-family: "Press Start 2P", sans-serif;
  font-size: 25px;

  display: inline-flex;
  align-items: center;
}

.skill-tec .ico {
  margin-right: 25px;
  width: 90px;
  height: 90px;
}

.skill-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.skill-tec h2 {
  margin-bottom: 10px;
}

.progress-bar {
  box-sizing: border-box;
  background-color: var(--color-o-fifth);
  border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--color-o-fifth);
}

@media screen and (max-width: 615px) {
  .skill-tec {
    font-size: 18px;
  }
  .skill-tec .ico {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
  .progress-bar {
    border: 4px solid #000;
  }
}
