.skill-container {
  background-color: green;

  display: inline-flex;
}

.skill-container img {
  align-self: flex-start;
  width: 90px;
  height: 90px;
}

/* start progress bar */
.bar {
  width: 320px;
  height: 40px;
  background-color: white;
  border: 5px solid black;
  margin-left: 20px;
}
.bar div {
  max-width: 60%;
  height: 40px;
  background-color: var(--color-second);
}
/* end progress bar */
