h1,
h2 {
  font-size: 27px;
  color: var(--color-first);

  font-family: "Press Start 2P", sans-serif;
  font-weight: 400px;
  text-shadow: 4px 4px 0px #000;
}
h2 {
  font-size: 25px;
  color: var(--color-third);
}
