.wrapper-skill {
  display: flex;
  justify-content: center;
  row-gap: min(60px, 5vw);
  column-gap: min(100px, 9vw);
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
}

.wrapper-skill .progress-bar {
  height: 40px;
  width: clamp(120px, 120px + 15vw, 260px);
}
