.wrapper-project {
  max-width: 1400px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 815px) {
  .wrapper-project {
    flex-direction: column;
    align-items: center;
  }
  .card-project {
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
  }
  .main-section.-black {
    padding-bottom: 10px;
  }
  .logo {
    height: 180px;
  }
}

@media screen and (max-width: 1500px) {
  .wrapper-project {
    padding-left: 50px;
    padding-right: 50px;
  }
}
